<div class="container">
  <div class="content">
    <div class="titles">
      <h1>Descubra os</h1>
      <h2>Campos Gerais</h2>
    </div>
    <div class="explore">
      <div class="explore-text">
        <p>
          Explore os Campos Gerais do Paraná, conheça as belezas naturais, a
          cultura e a história desta região encantadora.
        </p>
        <div class="explore-buttons">
          <a class="btn btn-primary" href="#exp">Nossos Passeios</a>
          <a class="btn btn-primary" href="#planejar">Planeje seu Passeio</a>
        </div>
      </div>
    </div>
  </div>
</div>
